/* ABOUT PAGE */
$about-pad-side:	5%;

#page-about{
	
	//I AM Title Line - will be centered on page
	.i-am-title{
		display:block;
		font-weight:600;
		font-size:200%;
		position: absolute;
		left: 50%;
		top: 48%;
		transform: translate(-50%, -48%);
	}

	//top frame
	.page-frame{
		height:0;
	}

	//learn more link that will scroll down page
	.learn-more{
		position:absolute;
		min-width:100px;
		left: 50%;
		top: 90%;
		transform: translate(-50%, -90%);
		opacity:0.4;
		cursor:pointer;

		.more-text{
			font-size:90%;
			display:block;
			border: 1px solid;
			padding:10px;
		}
		.more-arrow{
			content: "\25be";
			display:block;
			text-align:center;
		}
	}

	.learn-more:hover{
		opacity:1;
	}

}


/* FADE IN ANIMATION W/ POP */
@keyframes fadein {
    from { opacity: 0;}
    to   { opacity: 1;}
}
@-webkit-keyframes fadein {
    from { opacity: 0;}
    to   { opacity: 1;}
}
/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0;}
    to   { opacity: 1;}
}
/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0;}
    to   { opacity: 1;}
}
